/*
 * Copyright (c) 2024, CATIE
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/sixtron-header.h>

&sixtron_i2c {
	status = "okay";

	max172010: max17201@36 {
		compatible = "maxim,max17201";
		reg = <0x36>;
		sbs = <0x0b>;
		nb-cell = <1>;
		rshunt = <20>;
		capacity = <800>;
		empty-voltage = <3050>;
		voltage-thresholds = <3600 4250>;
		current-thresholds = <(-800) 800>;
		temperature-thresholds = <2732 3181>;
		external-thermistor1;
		external-thermistor2;
		alert-gpios = <&sixtron_connector DIO1 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	};
};
